.radio-group {
  display: flex;
  align-items: center;
  font-size: 12px;

  &__prefix,
  &__suffix {
    display: inline-flex;
    align-items: center;
  }

  &__prefix {
    margin-right: 8px;
  }

  &__suffix {
    margin-left: 8px;
  }
}

.radio {
  display: inline-flex;
  align-items: center;
  accent-color: var(--rp-c-brand-dark);

  + .radio {
    margin-left: 12px;
  }

  &__label {
    margin-left: 8px;
  }
}
