.llmstxt-cache/*
/.vscode
**/node_modules
**/dist
.local/
.preview-accelerator-docs.doom.config.yml
local/*
.yarn/*
.claude/*
.agents/*
.gemini/*
.codex/*
skills-lock.json
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
**/public/_remotes
.DS_Store
Zone.Identifier
.aider*
.idea/
.wrangler
