title: Alauda Container Platform
description: 'Accelerate Innovation with Alauda: The AI-Ready Cloud Native Solution'
logoText: Alauda Container Platform
lang: en

api:
  crds:
    - docs/shared/crds/**/*.{json,yaml,yml}
  openapis:
    - docs/shared/openapis/**/*.{json,yaml,yml}
  references:
    io.k8s.apimachinery.pkg.apis.meta.v1.DeleteOptions: /apis/references/DeleteOptions.html
    io.k8s.apimachinery.pkg.apis.meta.v1.ObjectMeta: /apis/references/ObjectMeta.html
    io.k8s.api.core.v1.Pod: /apis/kubernetes_apis/workload/pod.html#specification
permission:
  functionresources:
    - docs/shared/functionresources/*.yaml
  roletemplates:
    - docs/shared/roletemplates/*.yaml

internalRoutes:
  - '**/developer/building_application/create_applications/oam_app.mdx'
  - '**/developer/operator/**/*'
  - '**/developer/oam_applications/**/*'
  - '**/developer/building_application/configuration/add_bucket.mdx'
  - '**/developer/building_application/operation_maintaining/hotreload.mdx'

releaseNotes:
  queryTemplates:
    acp_fixed_issues_4.2.0: |
      filter = 16502 and project in (ait, acp) AND (Feature not in ("AIT - 平台打包") OR project = devops) AND (resolution not in ("By Design", "Not a Bug", Duplicate, Rejected, "Cannot Reproduce") OR resolution is EMPTY) AND fixVersion  in versionMatch(v4.2.0) AND status in (Done, Resolved, 已完成) AND (affectedVersion  not in (v4.2.0) OR issueFunction in linkedIssuesOf("affectedVersion in versionMatch('3.1[0-8]') or affectedVersion in versionMatch('v4.[0-1]') and BugFoundStage = 发版后阶段", clones) OR issueFunction in linkedIssuesOf("affectedVersion in versionMatch('3.1[0-8]') or affectedVersion in versionMatch('v4.[0-1]') and BugFoundStage = 发版后阶段", "is cloned by")) and affectedVersion not in versionMatch(-) and ReleaseNotesStatus = Publish
    acp_known_issues_4.2.0: |
      filter = 18959 and project in (ait, acp, ai) AND affectedVersion not in versionMatch("v4.[3-9]|v4.2.[1-9]|-") AND ((fixVersion  not in versionMatch("v3.|v4.[0-1].") or fixVersion   is EMPTY ) AND (status not in (Closed, Done, Resolved, 已验证, Cancelled) OR status = Cancelled AND (affectedVersion  in versionMatch("v4.2."))) OR status in (Closed, Done, Resolved, 已验证) AND fixVersion  in versionMatch("v4.[3-9]|v4.2.[1-9]")) AND (labels in (bug_clone, auto_clone) AND affectedVersion in versionMatch("v4.2") OR labels not in (bug_clone, auto_clone) OR labels is EMPTY) AND (labels not in (非产品问题, 非当前版本功能, 安全问题) OR labels is EMPTY) and ReleaseNotesStatus = Publish
    acp_fixed_issues_4.2.1: |
      filter = 16502 and project in (ait, acp) AND (Feature not in ("AIT - 平台打包") OR project = devops) AND (resolution not in ("By Design", "Not a Bug", Duplicate, Rejected, "Cannot Reproduce") OR resolution is EMPTY) AND fixVersion  in versionMatch(v4.2.1) AND status in (Done, Resolved, 已完成) AND (affectedVersion  not in (v4.2.1) OR issueFunction in linkedIssuesOf("affectedVersion in versionMatch('3.1[0-8]') or affectedVersion in versionMatch('v4.[0-2]') and BugFoundStage = 发版后阶段", clones) OR issueFunction in linkedIssuesOf("affectedVersion in versionMatch('3.1[0-8]') or affectedVersion in versionMatch('v4.[0-2]') and BugFoundStage = 发版后阶段", "is cloned by")) and affectedVersion not in versionMatch(-) and ReleaseNotesStatus = Publish
    acp_known_issues_4.2.1: |
      filter = 18959 and project in (ait, acp, ai) AND affectedVersion not in versionMatch("v4.[3-9]|v4.2.[2-9]|-") AND ((fixVersion  not in versionMatch("v3.|v4.[0-1].") or fixVersion   is EMPTY ) AND (status not in (Closed, Done, Resolved, 已验证, Cancelled) OR status = Cancelled AND (affectedVersion  in versionMatch("v4.2."))) OR status in (Closed, Done, Resolved, 已验证) AND fixVersion  in versionMatch("v4.[3-9]|v4.2.[2-9]")) AND (labels in (bug_clone, auto_clone) AND affectedVersion   in versionMatch("v4.2") OR labels not in (bug_clone, auto_clone) OR labels is EMPTY) AND (labels not in (非产品问题, 非当前版本功能, 安全问题) OR labels is EMPTY) and ReleaseNotesStatus = Publish

# onlyIncludeRoutes:
#   - '*/developer/building_application/functions/namespace/**'

export:
  - name: overview
    scope:
      - '*/overview/'
  - name: install
    scope:
      - '*/install/'
  - name: upgrade
    scope:
      - '*/upgrade/'
  - name: web_console
    scope:
      - '*/ui/web_console/'
  - name: cli_tools
    scope:
      - '*/ui/cli_tools/'
  - name: acp_cli
    scope:
      - '*/ui/cli_tools/ac/'
  - name: configure_cluster
    scope:
      - '*/configure/clusters/'
  - name: configure_machine
    scope:
      - '*/configure/machine_config/'
  - name: configure_network
    scope:
      - '*/configure/networking/'
  - name: configure_storage
    scope:
      - '*/configure/storage/'
  - name: storage
    scope:
      - '*/storage/'
  - name: security
    scope:
      - '*/security/'
  - name: virtualization
    scope:
      - '*/virtualization/virtualization/'
  - name: developer
    scope:
      - '*/developer/'
  - name: gitops
    scope:
      - '*/gitops/'
  - name: extend
    scope:
      - '*/extend/'
  - name: observability
    scope:
      - '*/observability/'
  - name: hardware_accelerator
    scope:
      - '*/hardware_accelerator/'
