.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 40px;

  &--block {
    width: 100%;
  }

  &--primary {
    background-color: var(--rp-c-brand-dark);
    border-radius: 4px;
    color: #fff;
  }
}
