---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: (unknown)
  name: machineconfigs.machineconfiguration.alauda.io
spec:
  group: machineconfiguration.alauda.io
  names:
    kind: MachineConfig
    listKind: MachineConfigList
    plural: machineconfigs
    shortNames:
    - mc
    singular: machineconfig
  scope: Cluster
  versions:
  - additionalPrinterColumns:
    - description: Version of the Ignition Config defined in the machineconfig.
      jsonPath: .spec.config.ignition.version
      name: IgnitionVersion
      type: string
    - jsonPath: .metadata.creationTimestamp
      name: Age
      type: date
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: |-
          MachineConfig defines the configuration for a machine


          Compatibility level 1: Stable within a major release for a minimum of 12 months or 3 minor releases (whichever is longer).
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: MachineConfigSpec is the spec for MachineConfig
            properties:
              config:
                description: Config is a Ignition Config object.
                type: object
                x-kubernetes-preserve-unknown-fields: true
              kernelArguments:
                description: kernelArguments contains a list of kernel arguments to
                  be added
                items:
                  type: string
                nullable: true
                type: array
                x-kubernetes-list-type: atomic
            type: object
        type: object
    served: true
    storage: true
    subresources: {}
