.form-item {
  display: flex;
  width: 100%;
  align-items: center;

  &,
  &__error {
    & + .form-item {
      margin-top: 24px;
    }
  }

  &__error {
    color: var(--rp-container-danger-text);
  }

  &__prefix {
    margin-right: 8px;
  }

  &__suffix {
    margin-left: 8px;
    max-height: 100%;
  }
}
