.focus-input {
  position: relative;
  width: 100%;

  &__placeholder {
    position: absolute;
    top: 50%;
    left: 8px;
    padding: 0 2px;
    transform: translate3d(0, -50%, 0);
    color: var(--rp-c-text-3);
    line-height: 1;
    transition: top 0.5s ease-in-out;
    pointer-events: none;
    z-index: 1;
  }

  &--active &__placeholder {
    top: 0;
    background-color: var(--rp-c-bg-soft);

    pointer-events: unset;
  }

  &--focus &__placeholder {
    color: var(--rp-c-brand-dark);
  }
}

.form-item--error .focus-input__placeholder {
  color: var(--rp-container-danger-text);
}
