.container {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  z-index: 10;
  background-color: var(--rp-c-bg);
  width: calc(min(100vw, 440px));
  height: calc(min(100vh, 700px));
  padding: 16px;
  box-shadow: 0px 0px 8px 0px var(--rp-c-divider);
  border-radius: 8px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
}

.username {
  margin-left: 8px;
  font-size: 12px;
  font-weight: normal;
  color: var(--rp-c-text-2);
}

.close {
  cursor: pointer;
}

.preamble {
  display: flex;
  flex: 1;
  margin-top: 120px;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 20px;
  font-weight: 600;
  margin-top: 16px;
}

.content {
  max-width: calc(100% - 40px);
  text-align: center;
}

.input {
  display: flex;
  position: relative;

  textarea {
    flex: 1;
    resize: none;
    padding: 12px;
    border: 2px solid var(--rp-c-divider-light);
    border-radius: 8px;
    outline: none;
    font-size: 14px;
    line-height: calc(20 / 14);

    &:focus {
      border-color: var(--rp-c-brand-dark);
    }
  }

  &:has(textarea:focus) {
    .send {
      color: var(--rp-c-brand);
    }
  }
}

.send {
  position: absolute;
  right: 12px;
  bottom: 12px;
  color: var(--rp-c-divider);
  cursor: pointer;

  &:hover {
    color: var(--rp-c-brand);
  }
}
